
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutResponsive.cshtml";
}



<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }



    main {
        padding: 20px;
    }

    .about {
        max-width: 800px;
        margin: 0 auto;
    }

        .about h2 {
            color: #007bff;
        }

        .about p {
            line-height: 1.6;
        }

</style>

<main>
    <section class="about">
        <h2>Welcome to our Job Portal!</h2>
        <p>Welcome to our job portal, where job seekers and employers come together to fulfill their employment needs.</p>
        <p>Our mission is to connect talented individuals with exciting job opportunities while assisting employers in finding the perfect candidates for their businesses.</p>
        <p>At our job portal, you can search for a wide range of job listings, from entry-level positions to executive roles, in various industries and locations.</p>
        <p>Whether you're a job seeker looking for your next career move or an employer seeking top talent, we're here to help you achieve your goals.</p>
        <p>Thank you for choosing our job portal. We look forward to serving you!</p>
    </section>
</main>




