.error {
    width: 80%;
    margin: auto;
    text-align: center;
    
}

.error-image {
    width: 100px;
    margin-bottom: 20px;
}
img, svg {
width: 451%;
height: auto;
vertical-align: middle;
}

.error-message {
    color: var(--maincolor);
    font-size: 2em;
    margin-bottom: 20px;
}

@keyframes shake {
    from {
        transform: translateX(-2px);
    }
    to {
        transform: translateX(2px);
    }
}

.error-description {
    color: #f50505;
    font-size: 1.2em;
    line-height: 1.5;
    
    animation: shake 0.5s infinite alternate;
}
