
    <link rel="stylesheet" href="/public/css/error404.css">
    
    <div class="error">
        <div class="error-image">
            <img src="/public/image/err.jpg" alt="Error Image">
        </div>
        <div class="sec-error">
            <h3 class="error-message">Error</h3>
            <p class="error-description"><%= errorMessage %></p>
        </div>
    </div>
    