
<div id="main">
    <div class="container-fluid box">
        <div class="card border-none ">
            <div class="card-body ">
                <div class="d-flex justify-content-between">
                    <div class="title">
                        <h5>Salesman Payment Status</h5>
                    </div>
                    <div class=" position-relative">
                        <i class="bx bx-filter filterIcon" id="filtercontent" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    </div>
                    <div class="card filterCard" id="filtermonth">
                        <div class="card-body p-2">
                            <div class="form-group">
                                <label>Salesman Code / Name</label>
                                <input type="email" class="form-control form-control-sm w-100" placeholder="Enter Salesman Code">

                            </div>
                            <div class="form-group mt-1">
                                <label>Distributor Code / Name</label>
                                <select class="form-select form-select-sm ">
                                            <option disabled selected>Select Distributor Code</option>
                                        </select>
                            </div>
                            <div class="form-group mt-1">
                                <label>Year</label>
                                <select class="form-select form-select-sm ">
                                            <option selected disabled>Select Year</option>
                                        </select>
                            </div>
                            <div class="form-group mt-1 ">
                                <label>Month</label>
                                <select class="form-select form-select-sm ">
                                            <option selected disabled>Select Month </option>
                                        </select>
                            </div>

                            <button class="btn btn-primary btn-sm w-100 applybtn-filter mt-2">Apply</button>
                            <button class="btn btn-secondary btn-sm w-100 closebtn-filter mt-1">Close</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-3 mb-2">
                    <table class=" table table-sm table-bordered table-striped text-nowrap ">
                        <thead class="table-primary text-white">
                            <tr>
                                <th class="fw-normal">Salesman Name</th>
                                <th class="fw-normal">Salesman Code</th>
                                <th class="fw-normal">Year</th>
                                <th class="fw-normal">Month</th>
                                <th class="fw-normal">Phase</th>
                                <th class="fw-normal">Payment Type</th>
                                <th class="fw-normal">Payment Amount</th>
                                <th class="fw-normal">Payment Status</th>
                                <th class="fw-normal">UTR No</th>
                                <th class="fw-normal">UTR Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Anu</td>
                                <td>AB09</td>
                                <td>2023</td>
                                <td>Jan</td>
                                <td>2</td>
                                <td>Online</td>
                                <td>1239</td>
                                <td>Pending</td>
                                <td>789</td>
                                <td>2 Jun 2023</td>
                            </tr>
                            <tr>
                                <td>Anu</td>
                                <td>AB09</td>
                                <td>2023</td>
                                <td>Jan</td>
                                <td>2</td>
                                <td>Online</td>
                                <td>1239</td>
                                <td>Pending</td>
                                <td>789</td>
                                <td>2 Jun 2023</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

