<div id="main">
    <div class="container-fluid box">
        <div class="card border-none ">
            <div class="card-body ">
                <div class="title mb-2">
                    <h5>Personal Details</h5>
                </div>
                <div class="p-2  d-flex flex-column mb-1 ">
                    <label> Salesman Photo<sup class="text-danger">*</sup></label>
                    <div class="position-relative  mt-1">
                        <label class="position-relative" for="personal-image-upload "><img
                                class="cursor  profile-circle" src="/public/image/user.png" />
                            <i class="bx bxs-camera profile-camera"></i></label>
                        <input class="d-none" id="" type="file" accept="image/*" />
                    </div>
                </div>
                <div class="d-grid my-2">
                    <div class="mb-2">
                        <div class="d-flex flex-column">
                            <label>Salesman Code<sup class="text-danger">*</sup></label>
                            <input type="text" placeholder="Enter Salesman Code" disabled class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="d-flex flex-column">
                            <label>Salesman Name<sup class="text-danger">*</sup></label>
                            <input type="text" placeholder="Enter Salesman Name" disabled class="form-control form-control-sm">
                        </div>
                    </div>

                    <div class="mb-2">
                        <div class="d-flex flex-column">
                            <label>Store Phone No.<sup class="text-danger">*</sup></label>
                            <input type="text" placeholder="Enter Phone No." disabled class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="d-flex flex-column">
                            <label>Email ID</label>
                            <input type="email" placeholder="Enter Email Id " class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="d-flex flex-column">
                            <label>Address Line 1<sup class="text-danger">*</sup></label>
                            <input type="text" placeholder="Address" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="d-flex flex-column">
                            <label>Address Line 2<sup class="text-danger">*</sup></label>
                            <input type="text" placeholder="Address Line 2" class="form-control form-control-sm">
                        </div>
                    </div>

                    <div class="mb-2">
                        <div class="d-flex flex-column">
                            <label>State<sup class="text-danger">*</sup></label>
                            <select name="" class="form-select form-select-sm" id="">
                                <option selected disabled> Select State</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="d-flex flex-column">
                            <label>City<sup class="text-danger">*</sup></label>
                            <select name="" class="form-select form-select-sm" id="">
                                <option selected disabled> Select City</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="d-flex flex-column">
                            <label>Pin Code<sup class="text-danger">*</sup></label>
                            <input type="text" placeholder="Enter Pin Code" class="form-control form-control-sm">
                        </div>
                    </div>

                    <div class="mb-2">
                        <div class="d-flex flex-column">
                            <label>Address Proof No
                            </label>
                            <input type="text" placeholder="Enter Address Proof No." class="form-control form-control-sm">
                        </div>
                    </div>
                </div>

                <div class="title mb-2">
                    <h5>PAN Details</h5>
                </div>
                <div class="row my-2">
                    <div class="col-sm-4 col-md-3 mb-2">
                        <div class="d-flex flex-column">
                            <label for="">PAN Number</label>
                            <input type="text" placeholder="Enter PAN Number" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>




                <div class="title mb-2">
                    <h5>Bank Details</h5>
                </div>

                <div class="row my-2">
                    <div class="col-sm-4 col-md-3 mb-2">
                        <div class="d-flex flex-column">
                            <label for="">IFSC Code<sup>*</sup></label>
                            <div class="d-flex justify-content-between">
                                <input type="text" placeholder="Enter IFSC Code" class="form-control form-control-sm w-100 me-2">
                                <button class="btn btn-primary btn-sm bank-verify">Verify</button>
                            </div>
                        </div>
                        <small class="text-success fw-bold verified-msg d-none">Verified</small>
                    </div>
                    <div class="col-sm-4 col-md-3 mb-2">
                        <div class="d-flex flex-column">
                            <label for="">Bank Name</label>
                            <input type="text" placeholder="Enter Bank Name" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 mb-2">
                        <div class="d-flex flex-column">
                            <label for="">Bank Account Number</label>
                            <input type="text" placeholder="Enter Account Number" disabled="" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 mb-2">
                        <div class="d-flex flex-column">
                            <label for="">Confirm Bank Account Number</label>
                            <input type="text" placeholder="Enter Confirm Account Number" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 mb-2">
                        <div class="d-flex flex-column">
                            <label for=""> Account Holder Name</label>
                            <input type="text" placeholder="Account Holder Name" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>






                <div class="text-end my-2">
                    <a href="other-detail.html"> <button class="btn btn-primary px-3 rounded-2 btn-sm">Next</button></a>
                </div>
            </div>




        </div>
    </div>
</div>
