
<div id="main">
    <div class="container-fluid box">
        <div class="card border-none ">
                <div class="card-body">
                    <div class="title mb-2">
                        <h5>Upload Document</h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 my-2">
                            <p class="fw-bold font-14">Address Proof Document Type
                                <sup class="text-danger">*</sup><small>(Select Anyone)</small></p>
                            <div class="my-2">
                                <div class="form-check">
                                    <input type="radio" id="aadhar" class="form-check-input" name="proof" value="aadhar">
                                    <label class="form-check-label" for="aadhar"> Aadhar Card</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="voter" class="form-check-input" name="proof" value="voter">
                                    <label class="form-check-label" for="voter">Voter ID</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="driving" class="form-check-input" name="proof" value="driving">
                                    <label class="form-check-label" for="driving">Driving License </label>
                                </div>
                            </div>
                            <div class="d-none" id="proof-upload">
                                <div>
                                    <small class="fw-bold">Upload Front Images<sup class="text-danger">*</sup></small>
                                    <div class="p-2">
                                        <div class="position-relative d-inline-block">
                                            <label for="productimage1"><img class="cursor" src="/public/image/upload-icon.png" /></label>
                                            <input type='file' name="productimage1" id="productimage1" multiple accept='image/*' class="d-none cursor" onchange="previewFile(this)">
                                            <img id="image1" class="d-none" src="" onclick="saveImage('productimage3')"/>
                                            <span class="del d-none"><i class="bx bx-trash"></i></span>
                                        </div>
                                        <p class="font-14" id="filename1"></p>
                                    </div>
                                </div>
                                <div>
                                    <small class="fw-bold">Upload Back Images<sup class="text-danger">*</sup></small>
                                    <div class="p-2">
                                        <div class="position-relative d-inline-block">
                                            <label for="productimage2"><img class="cursor" src="/public/image/upload-icon.png" /></label>
                                            <input type='file' name="productimage2" id="productimage2" multiple accept='image/*' class="d-none cursor" onchange="previewFile(this)">
                                            <img id="image2" class="d-none" src="" />
                                            <span class="del d-none"><i class="bx bx-trash"></i></span>
                                        </div>
                                        <p class="font-14" id="filename2"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-2">
                            <p class="fw-bold font-14">PAN Details<sup class="text-danger">*</sup></p>
                            <small class="font-13 text-nowrap fw-bold"> Upload PAN Proof Photo*</small>
                            <div class="p-2">
                                <div class="position-relative d-inline-block">
                                    <label for="productimage3"><img class="cursor" src="/public/image/upload-icon.png" /></label>
                                    <input type='file' name="productimage3" id="productimage3" multiple accept='image/*' class="d-none cursor" onchange="previewFile(this)">
                                    <img id="image3" class="d-none" src="" />
                                    <span class="del d-none"><i class="bx bx-trash"></i></span>
                                </div>
                                <p class="font-14" id="filename3"></p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-2">
                            <p class="fw-bold font-14">Upload Bank Proof<sup class="text-danger">*</sup></p>
                            <small class="font-13 text-nowrap fw-bold"> Cancelled Cheque/Vaild PassbookPhoto*</small>
                            <div class="p-2">
                                <div class="position-relative d-inline-block">
                                    <label for="productimage5"><img class="cursor" src="/public/image/upload-icon.png" /></label>
                                    <input type='file' name="productimage5" id="productimage5" multiple accept='image/*' class="d-none cursor" onchange="previewFile(this)">
                                    <img id="image5" class="d-none" src="" />
                                    <span class="del d-none"><i class="bx bx-trash"></i></span>
                                </div>
                                <p class="font-14" id="filename3"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center my-2">
                    <button class="btn btn-primary px-4 rounded-pill btn-sm next-btn" onclick="submitData()">Next</button>
                </div>
         
        </div>
    </div>
</div>

 <script>
   
   function saveImage(fieldName) {
    debugger;
    const fileInput = document.getElementById(fieldName);
    const file = fileInput.files[0];

    if (file) {
        debugger;
        const formData = new FormData();
        formData.append('image', file);

        // Send an AJAX request to upload the image
        $.ajax({
            type: 'POST',
            url: '/uploadImage',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                debugger;
                console.log('Image uploaded successfully:', response);
                alert('Image uploaded successfully!');
            },
            error: function(xhr, status, error) {
                console.error('Error uploading image:', error);
                alert('Error uploading image. Please try again later.');
            }
        });
    } else {
        alert('Please select an image to upload.');
    }
}



    function submitData() {
        debugger;
        var aadhar = $('#aadhar').prop('checked');
        var voter = $('#voter').prop('checked');
        var driving = $('#driving').prop('checked');
        var frontImage = $('#image1').val();
        var backImage = $('#image2').val();
        var panImage = $('#image3').val();
        var proofImage = $('#image5').val();
        
        var productimage1 = $('#productimage1').val().trim();
        var productimage2 = $('#productimage2').val().trim();
        var productimage3 = $('#productimage3').val().trim();
        var productimage5 = $('#productimage5').val().trim();

        var UUID = '<%= UUID %>';
        var parentUUID = $('#parentUUID').val();
        var error = '';

        if (!aadhar && !voter && !driving) {
            error += 'Please select one option for Address Proof\n';
        }

        if (aadhar || voter) {
            if (frontImage == null || frontImage == undefined || frontImage == '') {
                error += 'Please select front proof image\n';
            }
            if (!driving) {
                if (backImage == null || backImage == undefined || backImage == '') {
                    error += 'Please select Back proof image\n';
                }
            }
        } else if (driving) {
            if (frontImage == null || frontImage == undefined || frontImage == '') {
                error += 'Please select front proof image\n';
            }
        }

        if (panImage == null || panImage == undefined || panImage == '') {
            error += 'Please select PAN image\n';
        }
        if (proofImage == null || proofImage == undefined || proofImage == '') {
            error += 'Please select Bank proof image\n';
        }

        if (error != '') {
            alert(error);
            return false;
        } 
        else
        {
            debugger;
            var param = {
                "frontImage": frontImage,
                "backImage": backImage,
                "panImage": panImage,
                "proofImage": proofImage,
                "productimage1":productimage1,
                "productimage2":productimage2,
                "productimage3":productimage3,
                "productimage5":productimage5,
                "UUID": UUID
             };
 
            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                data: { 'param': JSON.stringify(param) },
                url: '/PersonalDetail?UUID=' + UUID + '&param=' + JSON.stringify(param),
                success: function(response){
                    debugger;
                    alert('pass');
                }
            });
        }
    }
</script> 

<!-- 
<script>
    function submitData() {
        debugger;
    var aadhar = $('#aadhar').prop('checked');
    var voter = $('#voter').prop('checked');
    var driving = $('#driving').prop('checked');
    var frontImage = $('#image1').val();
    var backImage = $('#image2').val();
    var panImage = $('#image3').val();
    var proofImage = $('#image5').val();

    var productimage1 = $('#productimage1').val().trim();
    var productimage2 = $('#productimage2').val().trim();
    var productimage3 = $('#productimage3').val().trim();
    var productimage5 = $('#productimage5').val().trim();

    var UUID = '<%= UUID %>';
    var parentUUID = $('#parentUUID').val();
    var error = '';

    if (!aadhar && !voter && !driving) {
        error += 'Please select one option for Address Proof\n';
    }

    if (aadhar || voter) {
        if (!frontImage) {
            error += 'Please select front proof image\n';
        }
        if (!driving) {
            if (!backImage) {
                error += 'Please select Back proof image\n';
            }
        }
    } else if (driving) {
        if (!frontImage) {
            error += 'Please select front proof image\n';
        }
    }

    if (!panImage) {
        error += 'Please select PAN image\n';
    }
    if (!proofImage) {
        error += 'Please select Bank proof image\n';
    }

    if (error != '') {
        alert(error);
        return false;
    } else {
        var param = {
            "frontImage": frontImage,
            "backImage": backImage,
            "panImage": panImage,
            "proofImage": proofImage,
            "productimage1": productimage1,
            "productimage2": productimage2,
            "productimage3": productimage3,
            "productimage5": productimage5,
            "UUID": UUID,
            "parentUUID": parentUUID
        };


        $.ajax({
                type: 'POST',
                dataType: 'JSON',
                data: { 'param': JSON.stringify(param) },
                url: '/PersonalDetail?UUID=' + UUID + '&param=' + JSON.stringify(param),
                success: function(response){
                    alert('pass');
                }
            });

        // $.ajax({
        //     type: 'POST',
        //     dataType: 'JSON',
        //     data: { 'param': JSON.stringify(param) },
        //     url: '/PersonalDetail', // Corrected endpoint
        //     success: function (response) {
        //         alert('pass');
        //     }
        // });
    }
}

</script> -->


<!-- <script>
    function submitData() {
    var form_data = new FormData();

    var aadhar = $('#aadhar').prop('checked');
    var voter = $('#voter').prop('checked');
    var driving = $('#driving').prop('checked');
    var UUID = '<%= UUID %>';
    var parentUUID = $('#parentUUID').val();
    var error = '';

    if (!aadhar && !voter && !driving) {
        error += 'Please select one option for Address Proof\n';
    }

    if (aadhar || voter) {
        var frontImage = $('#productimage1')[0].files[0];
        var backImage = $('#productimage2')[0].files[0];
        if (!frontImage) {
            error += 'Please select front proof image\n';
        }
        if (!driving) {
            if (!backImage) {
                error += 'Please select Back proof image\n';
            }
        }
        if (frontImage) {
            form_data.append('frontImage', frontImage);
        }
        if (backImage) {
            form_data.append('backImage', backImage);
        }
    } else if (driving) {
        var frontImage = $('#productimage1')[0].files[0];
        if (!frontImage) {
            error += 'Please select front proof image\n';
        }
        if (frontImage) {
            form_data.append('frontImage', frontImage);
        }
    }

    var panImage = $('#productimage3')[0].files[0];
    var proofImage = $('#productimage5')[0].files[0];

    if (!panImage) {
        error += 'Please select PAN image\n';
    }
    if (!proofImage) {
        error += 'Please select Bank proof image\n';
    }

    if (error != '') {
        alert(error);
        return false;
    } else {
        form_data.append('UUID', UUID);
        form_data.append('parentUUID', parentUUID);
        form_data.append('panImage', panImage);
        form_data.append('proofImage', proofImage);

        $.ajax({
            type: 'POST',
            dataType: 'JSON',
            data: form_data,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as FormData will handle it
            url: '/PersonalDetail',
            success: function(response){
                alert('pass');
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }
}

</script> -->